.type {
  &__switcher {
    width: 320px;
    height: 32px;
    align-items: center;
    border-radius: 20px;
    appearance: none;
    transition: 0.3s;
    cursor: pointer;
    position: relative;
    &:checked {
      background-color: #f3f3f7;
    }
    &::before {
      content: "Традиционная";
      position: absolute;
      top: 0;
      left: 0;
      width: 157px;
      height: 28px;
      border-radius: 999px;
      background-color: #4242de;
      transition: 0.3s;
    }
    &:checked::before {
      left: 20px;
    }
  }
}