.cards {
  padding-top: 70px;

  &__title {
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: 700;
  }
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 60px;
    column-gap: 20px;
  }
}
