.btn {
  width: 96px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: #f3f3f7;
  border-radius: 100px;
  color: #73798c;
  font-size: 16px;
  font-weight: 600;
}
.minus{
display: block;
margin-bottom: 8px;
}