.popular {
  &__title {
    margin-bottom: 20px;
    color: #000;
    font-size: 24px;
    font-weight: 700;
  }
  &__wrapper {
    display: flex;
    gap: 20px;
    overflow: hidden;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
