.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: -1px;
  max-width: 1060px;
  padding: 0 15px;
  margin: 0 auto 38px;
  background: #fff;
  height: 60px;

  &__lists {
    display: flex;
    gap: 23px;
  }

  &__item {
    color: #000;
    font-size: 14px;
    font-weight: 400;
    transition: 0.3s;
    cursor: pointer;
    &:hover {
      color: #f96900;
    }
  }
}

@media screen and (max-width: 651px) {
  .navigation {
    display: none;
  }
}
