.basketHeader {
  padding: 25px 200px 25px 110px;
  border-bottom: 1px solid #e5e5e5;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__logo_wrapper {
    display: flex;
    gap: 14px;
  }
  &__subtitle {
    color: #343434;
    font-size: 12px;
    font-weight: 400;
  }
}
