.header {
  padding: 25px 0;
  background-color: white;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__logo_wrapper {
    display: flex;
    gap: 14px;
  }

  &__subtitle {
    color: #343434;
    font-size: 12px;
    font-weight: 400;
  }

  &__phone {
    text-align: right;
    color: #000;
    font-size: 18px;
    font-weight: 600;
    transition: 0.3s;
    cursor: pointer;
    &:hover {
      color: #f96900;
    }
  }

}

@media screen and (max-width: 651px) {
  .header{
    padding: 12px 0 25px;
  }
}
