.navigation {
  &__lists {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    color: #464c55;
    max-width: 100%;
    height: 31px;
    padding: 6px 15px;
    gap: 10px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 100px;
    background: #f3f3f7;
    font-size: 14px;
    font-weight: 400;
    transition: 0.3s;
    cursor: pointer;
    &:hover {
      color: #d15700;
      background: #fff0e6;
    }
  }
}

@media screen and (max-width: 600px) {
  .navigation {
    overflow: hidden;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    margin-bottom: 20px;

    &__lists {
      display: flex;
      gap: 8px;
    }
  }
}
